* {
    box-sizing: border-box;
    padding: 0;
}

html, body {
    min-height: 100vh;
    font-size: 17px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #edf6f7;
    background: linear-gradient(45deg, #7d8e94, #0c3446);
}
.container {
    max-width: 1240px;
    margin: 0 auto;
}
.header {
    padding: 18px 0;
}

.test-btn {
    margin: 30px 0;
    padding: 20px;
    border: 1px solid #ffddffd7;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.btn_lang {
    min-width: 180px;
    padding: 10px;
    border-radius: 8px;
    background: #4ab9e2ea;
    border: none;
    box-shadow: -1px 7px 9px 0px #0f3635;
    cursor: pointer;
}

.background-blue {
    background: #178fd4;
}